<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Page</title>
</head>
<body>
{% include 'drauto/navbar.html' %}
{% if user.is_staff %}
<h3>Sales By Salespeople</h3>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Employee ID</th>
        <th>Salesman</th>
        <th>Client</th>
        <th>Make</th>
        <th>Model</th>
        <th>Car Type</th>
        <th>Car Year</th>
        <th>Condition</th>
        <th>Mileage</th>
        <th>Date Sold</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for sale in sales_list %}
        <tr>
            <td>{{ sale.0 }}</td>
            <td>{{ sale.1 }}</td>
            <td>{{ sale.2 }}</td>
            <td>{{ sale.3 }}</td>
            <td>{{ sale.4 }}</td>
            <td>{{ sale.5 }}</td>
            <td>{{ sale.6 }}</td>
            <td>{{ sale.7 }}</td>
            <td>{{ sale.8 }}</td>
            <td>{{ sale.9 }}</td>
            <td>{{ sale.10 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Commission Made By Each Sales Employee</h3>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Employee ID</th>
        <th>Salesman</th>
        <th>Make</th>
        <th>Model</th>
        <th>Car Type</th>
        <th>Car Year</th>
        <th>Commission</th>
        <th>Date Sold</th>
    </tr>
    </thead>
    <tbody>
    {% for commission in commission_list %}
        <tr>
            <td>{{ commission.0 }}</td>
            <td>{{ commission.1 }}</td>
            <td>{{ commission.2 }}</td>
            <td>{{ commission.3 }}</td>
            <td>{{ commission.4 }}</td>
            <td>{{ commission.5 }}</td>
            <td>{{ commission.6 }}</td>
            <td>{{ commission.7 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Vehicles Bought By Client</h3>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Client</th>
        <th>Make</th>
        <th>Model</th>
        <th>Car Type</th>
        <th>Car Year</th>
        <th>Condition</th>
        <th>Mileage</th>
        <th>Date Bought</th>
    </tr>
    </thead>
    <tbody>
    {% for purchase in client_purchase_list %}
        <tr>
            <td>{{ purchase.0 }}</td>
            <td>{{ purchase.1 }}</td>
            <td>{{ purchase.2 }}</td>
            <td>{{ purchase.3 }}</td>
            <td>{{ purchase.4 }}</td>
            <td>{{ purchase.5 }}</td>
            <td>{{ purchase.6 }}</td>
            <td>{{ purchase.7 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Employeee Performance</h3>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Employee Name</th>
        <th>Number of Sales </th>
        <th>Total Comission</th>
    </tr>
    </thead>
    <tbody>
    {% for perform in emp_performance %}
        <tr>
            <td>{{ perform.0 }}</td>
            <td>{{ perform.1 }}</td>
            <td>{{ perform.2 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Vehicles Bought By Employee</h3>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Salesman Name</th>
        <th>Vehicle Make</th>
        <th>Vehicle Model</th>
        <th>Year</th>
        <th>Invoice Number</th>
        <th>Invoice Date</th>
        <th>Invoice Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for purchase in salesman_purchase_list %}
        <tr>
            <td>{{ purchase.0 }}</td>
            <td>{{ purchase.1 }}</td>
            <td>{{ purchase.2 }}</td>
            <td>{{ purchase.3 }}</td>
            <td>{{ purchase.4 }}</td>
            <td>{{ purchase.5 }}</td>
            <td>{{ purchase.6 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>View All Invoices</h3>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Employee Name</th>
        <th>Client Name</th>
        <th>Date Bought</th>
        <th>Vehicle Make</th>
        <th>Vehicle Model</th>
        <th>Car Year</th>
{#        <th>Condition</th>#}
        <th>Mileage</th>
        <th>Price</th>
        <th>Amount Paid</th>
    </tr>
    </thead>
    <tbody>
    {% for invoice in invoice_list %}
        <tr>
            <td>{{ invoice.0 }}</td>
            <td>{{ invoice.1 }}</td>
            <td>{{ invoice.2 }}</td>
            <td>{{ invoice.3 }}</td>
            <td>{{ invoice.4 }}</td>
            <td>{{ invoice.5 }}</td>
            <td>{{ invoice.8 }}</td>
            <td>{{ invoice.9 }}</td>
            <td>{{ invoice.10 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<h3>Requested Work for Mechanic</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Work Done ID</th>
        <th>Mechanic's Id</th>
        <th>Hours Worked</th>
        <th>Add On Description</th>
        <th>Addon Cost</th>
        <th>Part Name</th>
        <th>Part Description</th>
        <th>Part of Cost</th>
        <th>Repair Description</th>
        <th>Repair Cost</th>
    </tr>
    </thead>
    <tbody>
    {% for wd in work_done_list %}
        <tr>
            <td>{{ wd.0 }}</td>
            <td>{{ wd.1 }}</td>
            <td>{{ wd.2 }}</td>
            <td>{{ wd.3 }}</td>
            <td>{{ wd.4 }}</td>
            <td>{{ wd.5 }}</td>
            <td>{{ wd.6 }}</td>
            <td>{{ wd.7 }}</td>
            <td>{{ wd.8 }}</td>
            <td>{{ wd.9 }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Top Selling Vehicles</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Make</th>
        <th>Amount Sold</th>

    </tr>
    </thead>
    <tbody>
    {% for tl in top_selling_list %}
        <tr>
            <td>{{ tl.0 }}</td>
            <td>{{ tl.1 }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>



{% else%}
<h1>You are not Staff</h1>

{%endif%}

</body>
</html>