<!DOCTYPE html>
<html lang="en">
<head>
    <title>Services</title>
</head>
<body>
{% include 'drauto/navbar.html' %}

<table class="table">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Date Employed</th>
      <th>Date of Birth</th>
      <th>Age</th>
      <th>Emergency Contact Number</th>
    </tr>
  </thead>
  <tbody>
    {% for emp in employee_list %}
    <tr>
      <td>{{ emp.0 }}</td>
      <td>{{ emp.1 }}</td>
      <td>{{ emp.2 }}</td>
      <td>{{ emp.3 }}</td>
      <td>{{ emp.4 }}</td>
      <td>{{ emp.5 }}</td>
      <td>{{ emp.6 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


</body>
</html>